<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        .yellow-box {
            background-color: yellow;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
    <body>
        <div class="container">
            <div class="yellow-box">
                <h1>{{ task.title }} 삭제</h1>
                <p>위 작업을 목록에서 삭제하시겠습니까?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">네, 삭제하고 싶어요.</button>
                </form>
                </div>
            </div>
        </body>
</html>